// Colors
$color-light-grey: #a8bfc9;
$color-hover-light-grey: #d9d9d9;
$color-yellow: #f2b137;
$color-blue: #31c3bd;
$color-dark-green: #1a2a33;
$color-light-green: #1f3641;

// Backdowns
$margin-tiny: 10px;
$margin-tiny-small: 17px;
$margin-little: 20px;
$margin-small: 24px;
$margin-large: 40px;

$padding-tiny: 10px;
$padding-tiny-small: 15px;
$padding-small: 20px;
$padding-medium: 25px;
$padding-huge: 80px;
$radius-tiny: 10px;
$radius-small: 15px;

$size-small: 140px;
$width-large: 460px;

// Font
$fon-size-tiny: 14px;
$font-small: 16px;
$font-medium: 20px;
$font-big: 24px;
$font-huge: 40px;
$line-height-tiny: 18px;
$line-height-small: 20px;
$line-height-medium: 25px;
$line-height-big: 35px;
$line-height-huge: 50px;
$font-weight-light: 500;
$font-weight-bold: 700;
$spacing-core: 1px;
$spacing-large: 1px;
